<div class="row">
<div class="container col-lg-4 col-md-6 col-sm-12">
    <form>
     <fieldset> 
        <div class="row">
            <div class="form-group">
                <label for="nome">Incolla qui il tuo "long url"</label>
                <input type="text"  ng-model="url" class="form-control" id="nome" placeholder="Inserisci l'url...">
            </div>
        </div>
        <div class="row">
            <button type="button" ng-click="get();" class="btn btn-primary">Shorten URL</button>
        </div>
     </fieldset>
    </form>
</div>
<div class="col-lg-8 col-md-6 col-sm-12">
    <div class="well" style="padding: 20px;">
        <img src="{{page}}" />
    </div>
</div>
</div>